@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";


.mozilla {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#root {
  font-family: "Libertinus Serif", serif;
  font-weight: 600;
  font-style: normal;
}



